
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100%;
    background-color: #ffc3ae;
    /**background: url(/index_images/photo-1629157247277-48f870757026.avif) no-repeat;
    background-size: cover;
    background-position: center;**/
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #D97E4A;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-indent: 5px;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.first-box{
    margin-top: 150px ;
    margin-left: 36px;
    
}



.card{
    margin-top: 25px;
    background-color: #E8B692;
    width: 350;
    height: 150px;
    margin-left: 25%;
    text-align: center;
    text-decoration-line: underline;
    padding: 25px;
}


.btn-primary{
    background-color: grey;
    border: black solid;
    border-radius: 25%;
    margin-top: 30px;
    

}

.btn-primary:hover{
    background-color: rgba(204, 189, 203, 0.37);
    border: black solid;
    border-radius: 25%;
    margin-top: 30px;
    

}
.manchete{
    font-size: 64px;
    font-weight: 500;
    text-decoration: underline;
    margin-left: 33px;
}

.sub-manchete{
    font-size: 26px;
    margin-left: 33px;
    
}

footer{
    background-color: gray;
    position:sticky;
    width: 100%;
    height: 70%;
    margin-top: 100px;
}

.footerContainer{
    width: 100%;

}

.footerContainer-test{
    width: 100%;
    margin-top: 270px;

}

.construction{
    margin-top: 100px;;
}

.fa-github{
    color: black;
    font-size: 33px;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;

}

.footerNav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{

    background-color: #a3a0a0;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
    height: 1x;
}

.img-construction{
    margin-top: 85px;;
}