<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eat Easier</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="js/script.js" defer></script>
    

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!--fonts awesp,ex-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />

   
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add this line for better box-sizing behavior */
}

body {
    min-height: 100%;
    background-color: #ffc3ae;
    /* background: url(/index_images/photo-1629157247277-48f870757026.avif) no-repeat;
    background-size: cover;
    background-position: center; */
    font-family: 'Nunito', sans-serif; /* Apply Nunito font to the entire page */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #D97E4A;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Use align-items for vertical alignment */
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    /* text-indent: 5px; */ /* Removed text-indent */
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.first-box {
    margin-top: 300px;
    margin-left: 36px;
}

.card {
    margin-top: 25px;
    background-color: #D97E4A;
    width: 350px; /* Specify units for width (e.g., px) */
    height: 200px;
    margin-left: 25%;
    text-align: center;
    /* text-decoration-line: underline; */ /* Removed text-decoration-line */
    padding: 25px;
}

.btn-primary {
    background-color: grey;
    border: 1px solid rgb(219, 98, 27); /* Specify border with "solid" style */
    border-radius: 25px; /* Specify units for border-radius */
    color: black;
}

.sub-manchete {
    font-size: 48px;
    margin-right: 50px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 100px;
}

footer {
    background-color: gray;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 70%;
    margin-top: 320px;
}

.footerContainer {
    width: 100%;
}

.footerContainer-test {
    width: 100%;
}

.construction {
    margin-top: 100px; /* Remove extra semicolon */
}

.fa-github {
    color: black;
    font-size: 33px;
}

.footerBottom {
    background-color: #a3a0a0;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    
}

.img-construction {
    margin-top: 85px; /* Remove extra semicolon */
}

.logo img {
    max-width: 250px; /* Use max-width to ensure the image scales proportionally */
}


    </style>
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="logo"></a>
      </div>
      <nav class="navbar">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/disclaimer">Disclaimer</a>
          <a href="/sources">Sources</a>
      </nav>
  </div>
  
  <div class="first-box">
      <p class="sub-manchete"><b>We bring the world of cooking right to your fingertips!</b></p>
  </div>

  <div class="big-card">
      <div class="row">
          <div class="col-sm-5">
              <div class="card">
                  <div class="card-body-left">
                      <h5 class="card-title">Recipe Search</h5>
                      <p class="card-text">Search over 2.3 million recipes by diets, calories, and nutrient ranges</p>
                      <a href="/recipe_result" class="btn btn-primary"><b>Try now</b></a>
                  </div>
              </div>
          </div>
          <div class="col-sm-5">
              <div class="card">
                  <div class="card-body-right">
                      <h5 class="card-title">Nutrition Analysis</h5>
                      <p class="card-text">Type any food recipe and learn its nutrition details in under a second</p>
                      <a href="/nutrition_test" class="btn btn-primary"><b>Try now</b></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
        
    

  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
  crossorigin="anonymous">
  </script>
  <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
  crossorigin="anonymous">
  </script>
  <script 
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
  ntegrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
  crossorigin="anonymous">
  </script>
  
  </body>
  <footer>
        
           
    <div class="footerBottom">
      <p>Copyright &copy;2023; Designed by  Adriano and Diana</p>
    </div>
    
    </footer>
</html>
