<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Source</title>
    <link rel="stylesheet" href="/public/css/construction.css">
</head>
<body>
  <div class="header">
    <div class="logo">
        <a href="./index.html"><img src="/images/logo.png" alt="logo"></a>
    </div>
    <nav class="navbar">
        <a href="/public/views/index.ejs">Home</a>
        <a href="/public/views/about.html">About</a>
        <a href="/public/views/disclaimer.html">Disclaimer</a>
        <a href="/public/views/sources.html">Sources</a>
    </nav>
</div>
<div class="container">
    <img class="img-construction" src="/images/download.png" alt="Under Construction Image">
    <br>
    <p>Try again in a couple of minutes</p>
</div>
<footer>
        
           
    <div class="footerBottom">
      <p>Copyright &copy;2023; Designed by  Adriano and Diana</p>
    </div>
    
    </footer>
</body>
</html>