/* Import Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Reset styles for all elements and set font-family */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    min-height: 100%;
    background-color: #ffc3ae;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #D97E4A;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Use align-items for vertical alignment */
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-indent: 5px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.container h1 {
    margin-top: 130px; /* Adjusted margin-top */
}

.container {
    text-align: justify;
    /* Use calc for height calculation */
    height: calc(100vh - var(--header-height));
    font-size: 20px;
    margin-left: 400px;
    margin-right: 200px;
}

footer {
    background-color: gray;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 70%;
    margin-top: 80px;
}

.footerContainer {
    width: 100%;
}

.footerContainer-test {
    width: 100%;
}

.construction {
    margin-top: 100px; /* Remove extra semicolon */
}

.fa-github {
    color: black;
    font-size: 33px;
}

.footerBottom {
    background-color: #a3a0a0;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    /* Remove height: 1x; as it's unnecessary */
}

.img-construction {
    margin-top: 85px; /* Remove extra semicolon */
}

.logo img {
    width: 250px;
}

.img-construction {
    margin-top: 85px; /* Remove extra semicolon */
}

