<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disclaimer</title>
    <link rel="stylesheet" href="/css/disclaimer.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="header">
      <div class="logo">
        <a href="./index.html"><img src="/index_images/logo.png" alt="logo"></a>
    </div>

        <nav class="navbar">
          <a href="./index.html">Home</a>
          <a href="./about.html">About</a>
          <a href="./disclaimer.html">Disclaimer</a>
          <a href="./sources.html">Sources</a>
        </nav>
          </div>
    <section class="container">
        <h1 style="font-size: 56px;"> Disclaimer</h1><br>
        <ul> <p>The Recipe Finder feature on our website is provided as a service to our users to enhance their culinary experiences and provide access to a 
            diverse range of recipes. While we strive to offer accurate and reliable information, we want to make sure you are aware of the following 
            disclaimers and guidelines: </p><br>
            <li><b>Accuracy of Information:</b> Users are encouraged to double-check ingredients, measurements, and cooking times to ensure the desired results.</li><br>
                <li>
                   <b>Allergen Information:</b>  Users with specific dietary needs or allergies should exercise caution and review ingredient lists carefully.
                </li><br>
                <li>
                    <b>Nutritional Information:</b> The nutritional analysis provided for each recipe is based on standard nutritional databases and algorithms. 
                    While we aim to offer accurate nutritional information, variations in ingredient brands, substitutions, and preparation methods can 
                    impact the final nutritional content. The provided data should be considered an estimate and not a substitute for professional dietary advice.
                </li><br>
                <li>
                    <b>Health and Dietary Goals:</b> Users with specific health concerns, dietary goals, or medical conditions should consult with a qualified healthcare
                     professional or dietitian for personalized dietary advice. Our platform is not a substitute for professional medical guidance.
                </li><br>
                <li>
                    <b>Safety Precautions:</b> Always follow safe food handling practices, cooking temperatures, and sanitation guidelines when preparing recipes. 
                    We are not responsible for any accidents, injuries, or illnesses that may result from the use of information on our platform.
                </li>
               
        </ul>
    </section>
            <footer class="footerContainer">
                  <div class="github">
                    <p style="font-size: 33px; font-weight: 500;">Eat Easier <a href="#"><i class="fa-brands fa-github"></i></a>
                    </p>
                  </div>
                        <div class="footerNav">
                  <ul>
                    <li><a href="/src/index.html">Home</a></li>
                    <li><a href="/src/about.html">About</a></li>
                    <li><a href="/src/disclaimer.html">Disclaimer</a></li>
                    <li><a href="/src/sources.html">Sources</a></li>
                  </ul>
                        </div>
                       <div class="footerBottom">
                        <p>Copyright &copy;2023; Designed by <span class="designer"></span> Adriano and Diana</p>
                      </div>
            </footer>
</body>
</html>